.cproject
.autotools
.deps
.project
Makefile
Makefile.*
acinclude.m4
aclocal.m4
autom4te.cache/
build/*
config.guess
config.h*
config.log
config.nice
config.status
config.sub
configure
configure.in
ltmain.sh
libtool
dumps/*
install-sh
missing
mkinstalldirs
run-tests.php

